#caja-texto {
    font-size: 1.3em;
    border: 1px solid black;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(50, end) 6s forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  