body {
	background-image: url("background-image.jpg");
	background-size: cover;
  font-size: 16px;
  line-height: 1.5;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Exo 2', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

header img {
	height: 30px;
	margin-right: 10px;
  border-radius: 50%;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

header nav a {
  margin-left: 20px;
  color: #cfcaca;
  text-decoration: none;
  font-weight: bold;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  text-align: center;
	background-color: transparent;
  text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}
footer {
  background-color: transparent;
  color: #ece7e7;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  color: #f1e7e7;
  text-decoration: none;
}
#animacion {
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  top: 170px;
  right: 50px;
  left: 800px;
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(202, 198, 198); 
  opacity: 0;
  background-color: transparent; 
}

.caja-texto {
  position: absolute;
  top: 250px;
  right: 0;
  width: 90%;
  max-width: 300px;
  margin-right: 35%;
}

.caja-texto input[type="text"] {
  width: 230%;
  pointer-events: none;
  height: 230px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 16px;
}

